{{> header}}
{{> welcome}}
<div class="container mt-3">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">NO</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Nopen</th>
                    <th scope="col">No telp</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each customers}}
                <tr>
                    <th scope="row">{{counter @index}}</th>
                    <td>{{name}}</td>
                    <td>{{customerNumber}}</td>
                    <td>{{phoneNumber}}</td>
                    <td class="text-center">
                        <a href="/sales/videocall-confirmation?id={{id}}" onclick="callingCustomer({customerId: '{{id}}', salesId: '{{../user.id}}'})" class="btn btn-success btn-block">
                            <i class="fas fa-phone-square-alt"></i> Konfirmasi Awal</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
    function callingCustomer(data) {
        $.ajax('/calling-customer', {
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json'
        });
    }
</script>

{{> footer}}