{{> header}}
{{> welcome}}

<div class="container mt-3">
    {{> message}}
    <a href="/sales/offering-canvas/" class="btn btn-primary mb-2"> create customer</a>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">NO</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Nopen</th>
                    <th scope="col">No telp</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each customers}}
                <tr>
                    <th scope="row">{{counter @index}}</th>
                    <td>{{name}}</td>
                    <td>{{customerNumber}}</td>
                    <td>{{phoneNumber}}</td>
                    <td class="text-center text-white">
                        <a href="#" class="btn btn-success mb-1"><i class="fas fa-phone-square-alt"></i></a>
                        <a href="/sales/offering-canvas/?id={{id}}" class="btn btn-primary mb-1"><i
                                class="fas fa-user-edit"></i></a>
                        <a href="/delete-customer{{id}}" class="btn btn-danger mb-1"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{> footer}}