{{> header}}
<div class="container" style="margin-top: 90px;">
    <p>Selamat datang, Bapak/ibu <span class="font-weight-bold">{{customer.name}}</span></p>
    <p>Saat ini anda terhubung dengan sales BTPN <span class="font-weight-bold">{{salesName}}</span> , untuk proses
        pengajuan pinjaman
    </p>
    <form>
        <div class="form-group row">
            <label for="nama" class="col-sm-2 col-form-label">Nama</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="nama" value={{customer.name}} readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="nopen" class="col-sm-2 col-form-label">Nopen</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="nopen" value={{customer.customerNumber}} readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="no-telp" class="col-sm-2 col-form-label">No telp</label>
            <div class="col-sm-8">
                <input type="text" class="form-control mb-2" id="no-telp" value={{customer.phoneNumber}} readonly>
            </div>
        </div>
    </form>
    <div class="mt-3 p-3" id="canvas-container"></div>
    {{!-- <div class="col-md-3 chat-col d-print-none mb-2 bg-info" id='chat-pane' hidden>
        <div class="row">
            <div class="col-12 text-center h2 mb-3">CHAT</div>
        </div>

        <div id='chat-messages'></div>

        <div class="row">
            <textarea id='chat-input' class="form-control rounded-0 chat-box border-info" rows='3'
                placeholder="Type here..."></textarea>
        </div>
    </div> --}}
</div>
<div class="container-fluid px-5">
    <div class="row">
        <div class="col-md-9 border px-0">
            <div class="room-comm" style="min-height: 500px;" hidden>
                <video class="local-video mirror-mode" id='local' volume='0' autoplay muted></video>
                <div id='main-section'>
                    <div class="wrapper-remote-video" id='videos'></div>
                </div>
            </div>
            <div class="room-comm tools" hidden>
                <button class="btn btn-sm rounded-0 btn-no-effect" id='toggle-video' title="Hide Video">
                    <i class="fa fa-video text-white"></i>
                </button>

                <button class="btn btn-sm rounded-0 btn-no-effect" id='toggle-mute' title="Mute">
                    <i class="fa fa-microphone-alt text-white"></i>
                </button>
            </div>
        </div>
        <div class="col-md-3 border">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-tools-tab" data-toggle="tab" href="#tab-tools"
                        role="tab" aria-controls="tab-home" aria-selected="true">Tools</a>
                    <a class="nav-item nav-link" id="nav-chat-tab" data-toggle="tab" href="#tab-chat" role="tab"
                        aria-controls="tab-chat" aria-selected="false">Chat
                        <span class="badge badge-danger very-small font-weight-lighter" id='new-chat-notification'
                            hidden>New</span>
                    </a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="tab-tools" role="tabpanel" aria-labelledby="tab-tools">
                    <div class="mt-2">
                        <button class="btn btn-warning btn-block">Video Call</button>
                        {{!-- <button class="btn btn-warning btn-block">Send File</button> --}}
                        <button class="btn btn-warning btn-block">Request End Call</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-chat" role="tabpanel" aria-labelledby="tab-chat">
                    <div class="mt-3" id='chat-pane'>
                        <div id='chat-messages'></div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-10">
                                <textarea id='chat-input' class="form-control rounded-0 border" rows='2'
                                    placeholder="Type here... and press the enter"></textarea>
                            </div>
                            <div class="col-2">
                                <button title="Upload document" id="btn-document" class="btn btn-primary ml-2"><i
                                        class="fas fa-file-upload"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='/socket.io/socket.io.js'></script>
<script type="module" src='/WebRTC/rtc.js'></script>
<script type="module" src='/WebRTC/events.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/7.3.0/adapter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js'></script>
<script>
    sessionStorage.setItem('username', `{{customer.name}}`)
</script>
{{> footer}}