{{> header}}
{{> welcome}}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <form>
                <div class="form-group row">
                    <label for="nama" class="col-sm-2 col-form-label">Nama</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nama" value={{customer.name}} readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nopen" class="col-sm-2 col-form-label">Nopen</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nopen" value={{customer.customerNumber}} readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="no-telp" class="col-sm-2 col-form-label">No telp</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control mb-2" id="no-telp" value={{customer.phoneNumber}}
                            readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="no-telp" class="col-sm-2 col-form-label">Result</label>
                    <div class="col-sm-10">
                        <select class="custom-select" name="result" id="result">
                            <option selected disabled value="0">Choose...</option>
                            <option value="4">Belum Konfirmasi</option>
                            <option value="5">Tidak Dilanjutkan</option>
                            <option value="6">Lanjutkan</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" id="activityId" value="3">
            </form>
        </div>
        <div class="col-sm-12 col-md-4">
            <button class="btn btn-danger" id="btn-endcall"><i class="fas fa-phone-slash"></i> End Call</button>
        </div>
    </div>
</div>
<div class="container-fluid px-5 mt-5">
    <div class="row">
        <div class="col-md-9 border px-0">
            <div class="room-comm" hidden id="wrapper-camera">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-main-tab" data-toggle="tab" href="#nav-main"
                            role="tab" aria-controls="nav-main" aria-selected="true">Video Call dan Chat</a>
                        <a class="nav-item nav-link" id="nav-pen-tab" data-toggle="tab" href="#nav-pen" role="tab"
                            aria-controls="nav-pen" aria-selected="false">Lembar Persetujuan</a>
                    </div>
                </nav>
                <video class="local-video mirror-mode" id='local' volume='0' autoplay muted></video>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-main" role="tabpanel" aria-labelledby="nav-main-tab">
                        <div id='main-section'>
                            <div class="wrapper-remote-video" id='videos'></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-pen" role="tabpanel" aria-labelledby="nav-pen-tab">
                        <div class="text-center mt-2">
                            <button id="btn-clear-canvas" type="button" class="btn btn-sm btn-info" data-action="clear"
                                title="Hapus Pen"><i class="fas fa-eraser"></i></button>
                            <button id="btn-save-canvas" type="button" class="btn btn-sm btn-primary"
                                data-action="save-jpg"><i class="fas fa-upload"></i> Save and Upload</button>
                        </div>
                        <div id="content-canvas">
                            <canvas class="signature-pen mb-5"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="room-comm tools" hidden>
                <button class="btn btn-sm rounded-0 btn-no-effect" id='toggle-video' title="Hide Video">
                    <i class="fa fa-video text-white"></i>
                </button>

                <button class="btn btn-sm rounded-0 btn-no-effect" id='toggle-mute' title="Mute">
                    <i class="fa fa-microphone-alt text-white"></i>
                </button>

                <button class="btn btn-sm rounded-0 btn-no-effect" id='share-screen' title="Share screen">
                    <i class="fa fa-desktop text-white"></i>
                </button>

                <button class="btn btn-sm rounded-0 btn-no-effect" id='record' title="Record">
                    <i class="fa fa-dot-circle text-white"></i>
                </button>
            </div>
        </div>
        <div class="col-md-3 border">
            <div class="bg-warning p-1 rounded mt-2">
                <h5 class="text-center text-white">Chat</h5>
            </div>
            <div class="mt-3" id='chat-pane'>
                <div id='chat-messages'></div>
                <div class="row no-gutters align-items-center">
                    <div class="col-10">
                        <textarea id='chat-input' class="form-control rounded-0 border" rows='2'
                            placeholder="Type here... and press the enter"></textarea>
                    </div>
                    <div class="col-2">
                        <button title="Upload document" id="btn-document" class="btn btn-primary ml-2"><i
                                class="fas fa-file-upload"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='/socket.io/socket.io.js'></script>
    <script type="module" src='/WebRTC/rtc.js'></script>
    <script type="module" src='/WebRTC/events.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/7.3.0/adapter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script type="module" src='/WebRTC/signaturePen.js'></script>
    <script>
        sessionStorage.setItem('salesId', `{{user.id}}`);
        sessionStorage.setItem('username', `{{user.firstName}} {{user.lastName}}`)
    </script>

    {{> footer}}